[core]
	excludesfile = /Users/jluebbers/.gitignore
	editor = code --wait
[user]
	name = Jonas Luebbers
	email = jonaskluebbers@gmail.com
[alias]
	lg = log --oneline
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
